<%- include('./layout/head.ejs')%>

<body>
    <%- include('./layout/nav.ejs')%>
    <main class="detailsMain">
        <div class="idImage">
            <h2><%=obj.name%></h2>
        </div>
        <div id="details">
            <div id="picture">

                <img src="<%=obj.img_url%>">
            </div>

            <div class="ing">
                <h3>Ingredients</h3>
                <ul>
                    <%obj.ingredients.split(',').forEach(item=>{%>
                    <li><%=item%></li>
                    <%})%>
                </ul>
            </div>

            <div id="steps">
                <h3>Steps:</h3>
                <ol>
                    <%obj.steps.split('. ').forEach(item=>{%>
                    <li><%=item%></li>
                    <%})%>
                </ol>

            </div>
        </div>
        <div class="video">
            <% if(obj.vid_url){
                let vid = obj.vid_url;

                let ext=vid.indexOf('v=') !== -1 ? vid.substring(vid.indexOf('v=')+2) 
                                                 : vid.substring(vid.indexOf('be/')+3);
                let url = `https://www.youtube.com/embed/${ext}`
                %>
            <iframe width="560" height="315" src="<%= url%> " frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <% } %>
        </div>
    </main>
    <%- include('./layout/footer.ejs') %>
    <script src="./js/app.js"></script>
</body>

</html>