<%- include('./layout/head.ejs') %>
<%
    userData = user? user : '';
    id= userData? userData.id : '';
    %>

<%- include('./layout/nav.ejs') %>
<div class="header" >
    <div class="greeting">
        <h1>Welocme here</h1>
    </div>
</div>
<main>
    <section claas="intro">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <p></p>
        </div>
    </section>
    <section class="trans">

    </section>
    <section class="rand-recipe">

        <div>
            <h2><%=dessert.meals[Math.floor(Math.random() * (60 - 2) + 2)].strMeal%></h2>
            <img src=<%=dessert.meals[Math.floor(Math.random() * (60 - 2) + 2)].strMealThumb%>>
        </div>
        <div>
            <h2><%=cocktail.drinks[0].strDrink%></h2>
            <img src=<%=cocktail.drinks[0].strDrinkThumb%>>
        </div>
        <div>
            <h2><%=food.meals[0].strMeal%></h2>
            <img src=<%=food.meals[0].strMealThumb%>>

        </div>
    </section>
</main>

<%- include('./layout/footer.ejs') %>