<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Home page</title>
</head>
<%
    userData = user? user : '';
    id= userData? userData.id : '';
    %>

<body>
    <%- include('./layout/nav.ejs') %>
    <div class="header">
        <div class="greeting">
            <span>
                <h1 class="titleH2">Recipen</h1>
                <p> Let food be the medicine and medicine be the food</p>
            </span>
        </div>
    </div>
    <section class="index-main">
        <div id="intsection">
            <div id="abo">
                <h2 class="titleH2">About Recipen<hr></h2>
            </div>
            <div class="introduction">
                <p> Our mission is to be one of the most helpful food platforms and improves life in the kitchen for others, strengthen your love relationship with food and
                    cooking, more over support you with the material to be a confident chef.<br>
                    We are building big data for food, allowing the visual search and discovery of new recipes, based on specific ingredients present in your kitchen, we publish recipes provided from different areas around the world.<br>
                    Our goal is to encourage people to cook at home, and to make the process of feeding your family and loved ones less intimidating and more enjoyable.</p>
                    <button ><a href="/about">Our Team</a></button>
            </div>
            <div class="introduction">
                <img src="../img/header4.jpg">
            </div>
        </div>
        <div id="transparent">
         <p>" If you're not the one cooking, stay out of the way and compliment the chef. "</p>
         <h2> Michael Strahan</h2>
        </div>
        <section class="rand-recipe">
            <h2 class="titleH2">Recipies Of The Day <hr></h2>
            <div class="about">
                <img class="randomImgHome"
                src=<%=dessert.meals[Math.floor(Math.random() * (60 - 2) + 2)].strMealThumb%>>
                <h2 class="img__description"><%=dessert.meals[Math.floor(Math.random() * (60 - 2) + 2)].strMeal%></h2>
            </div>
            <div class="about">
                <h2 class="img__description"><%=cocktail.drinks[0].strDrink%></h2>
                <img class="randomImgHome" src=<%=cocktail.drinks[0].strDrinkThumb%>>
            </div>
            <div class="about">
                <h2 class="img__description"><%=food.meals[0].strMeal%></h2>
                <img class="randomImgHome" src=<%=food.meals[0].strMealThumb%>>

            </div>
        </section>
        <div id="transparent">
            <p>"Food brings people together on many different levels. It's nourishment of the soul and body; it's truly love."<p>
            <h2>Giada De Laurentiis</h2>
           </div>
    </section>
    <%- include('./layout/footer.ejs') %>
    <script src="./js/app.js"></script>
</body>

</html>