<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Document</title>
</head>

    userData = user? user : '';
    id= userData? userData.id : '';
    %>

<body>
    <%- include('./layout/nav.ejs') %>
    <div class="header">
        <div class="greeting">
            <span>
                <h1>Recipen</h1>
                <h2>Welcome to Recipen </h2>
                <p>Cooking is like love. It should be entered into with abandon or not at all......</p>
            </span>
        </div>
    </div>
    <section class="index-main">
        <div id="intsection">
            <div id="abo">
                <h2>About Recipen<hr></h2>
            </div>
            <div class="introduction">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing <br> Dolores eveniet qui est recusandae officia
                    repudiandae suscipit laudantium? Hic dolorum expedita,<br> dignissimos vero eius nisi ex ipsa! Natus
                    iure molestiae Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellendus, iste vel vero eius fugiat provident? Cupiditate rerum ducimus porro nulla magni, voluptatem eveniet ipsam sint veniam aut unde atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non maiores voluptatem, vitae eum facilis delectus asperiores natus aperiam quo distinctio doloremque tempora totam perspiciatis hic corrupti! Doloremque architecto similique inventore.</p>
                    <button ><a href="/about">Our Team</a></button>
            </div>
            <div class="introduction">
                <img src="../img/header.jpg">
            </div>
        </div>
        <div id="transparent">
         <p>" If you're not the one cooking, stay out of the way and compliment the chef. "</p>
         <h2> Michael Strahan</h2>
        </div>
        <section class="rand-recipe">
            <h2>Recipies Of The Day <hr></h2>
            <div class="about">
                <img class="randomImgHome"
                src=<%=dessert.meals[Math.floor(Math.random() * (60 - 2) + 2)].strMealThumb%>>
                <h2 class="img__description"><%=dessert.meals[Math.floor(Math.random() * (60 - 2) + 2)].strMeal%></h2>
            </div>
            <div class="about">
                <h2 class="img__description"><%=cocktail.drinks[0].strDrink%></h2>
                <img class="randomImgHome" src=<%=cocktail.drinks[0].strDrinkThumb%>>
            </div>
            <div class="about">
                <h2 class="img__description"><%=food.meals[0].strMeal%></h2>
                <img class="randomImgHome" src=<%=food.meals[0].strMealThumb%>>

            </div>
        </section>
        <div id="transparent">
            <p>"Food brings people together on many different levels. It's nourishment of the soul and body; it's truly love."<p>
            <h2>Giada De Laurentiis</h2>
           </div>
    </section>
    <%- include('./layout/footer.ejs') %>
    <script src="./js/app.js"></script>
</body>

</html>