<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/aseel.css">
    <link rel="stylesheet" href="./styles/details.css">
    <title>Recipen</title>
</head>

<body>

    <%- include('./layout/nav.ejs')%>

    <main class="result">
            <section class="resultContainer">
                <% 

            let type =suggestions[0]?suggestions[0].type : 'None';
            let myData = data || suggestions || [];
            let idsArray=[];
           
            if (myData.length){
                    if( ! data.length){ %>
                <div class="notify">
                    <h2>There is no matched result for your request.<br>here is some suggested result based on your main
                        ingredient. </h2>
                </div>
                
                
                <% } %>
                <div class="itemsGrid">
                <%    myData.forEach(item=>{ 
                        idsArray.push(item.id);
                    %>

                <section class="item">
                   
                        <form action="/details?id=<%=id%>" method="POST">
                            <img src=<%= item.img_url %>>
                            <div class="container">
                                <p><%= item.name %> </p>
                                <p><%= item.category %></p>
                            </div>


                            <input type="hidden" name="id" value="<%= item.id %>">
                            <input type="hidden" name="name" value="<%= item.name %>">
                            <input type="hidden" name="ingredients" value="<%= item.ingredients %>">
                            <input type="hidden" name="steps" value="<%= item.steps %>">
                            <input type="hidden" name="img_url" value="<%= item.img_url %>">
                            <input type="hidden" name="vid_url" value="<%= item.vid_url %>">
                            <input type="hidden" name="category" value="<%= item.category %>">
                            <input type="hidden" name="type" value="<%= item.type %>">

                            <% if(type==="food"){ %>

                            <input type="hidden" name="area" value="<%= item.area %>">
                            <% }   %>


                            <button class="btn">SHOW DETAILS</button>



                        </form>


                        <% let action = type==='food'? "/saveFood" : "/saveDrink"  %>
                        <form id="<%=item.id%>" action="" method="POST">
                            <input type="hidden" name="id" value="<%= item.id %>">
                            <input type="hidden" name="name" value="<%= item.name %>">
                            <input type="hidden" name="ingredients" value="<%= item.ingredients %>">
                            <input type="hidden" name="steps" value="<%= item.steps %>">
                            <input type="hidden" name="img_url" value="<%= item.img_url %>">
                            <input type="hidden" name="vid_url" value="<%= item.vid_url %>">
                            <input type="hidden" name="category" value="<%= item.category %>">
                            <input type="hidden" name="type" value="<%= item.type %>">
                            <input type="hidden" name="route" value="<%=action%>?id=<%=id%>">
                            <% if(type==="food"){ %>
                            <input type="hidden" name="area" value="<%= item.area %>">
                            <% }   %>
                            <button id='saveFood' class="btn saveFood">ADD TO FAVORITES</button>
                        </form>
                </section>

                <% })%>
            </div>
            <% }
             else{ %>
                <div class="notify">
                    <h2>There is no matched results.. try again with different ingredients.<br> <a
                            href="/searchPage?id=<%=id%>">SEARCH AGAIN</a>
                    </h2>
                 </div>
                <% }
             let idsSt= idsArray.join();
                  %>

                <input id="meals" type="hidden" name="ids" value="<%=idsSt %>">
            </section>
    </main>
    <%- include('./layout/footer.ejs') %>
    <script src="./js/app.js"></script>
    <script src="./js/app_result.js"></script>
</body>

</html>