<%- include('./layout/head.ejs')%>
    

<%- include('./layout/nav.ejs')%>
    
    <form action="/searchFood?id=<%=id%>" method="POST">
        <input type="text" name="firstIngredient" placeholder="first" >
        <input type="text" name="secondIngredient" placeholder='second' >
        <input type="text" name="thirdIngredient" placeholder='third'>
        <button> submit food</button>
    </form>


    <form action="/searchDrink?id=<%=id%>" method="POST">
        <input type="text" name="firstIngredient" placeholder="first" >
        <input type="text" name="secondIngredient" placeholder='second' >
        <input type="text" name="thirdIngredient" placeholder='third'>
        <button> sumbmit drink</button>
    </form>

    <%- include('./layout/footer.ejs')%>